body {
    font-family: 微軟正黑體;
    background: rgb(28, 28, 28);
}
.list li:nth-child(2) a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 20, 20);
    transition: all 0.5s 0.3s;
}
.banner {
    width: 100%;
    background: url(../img/spin-studio-best-gym-near-me-springfield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
.banner-txt {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
}
.banner-txt h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 100px;
}
.course {
    width: 100%;
    display: flex;
    justify-content: center;
}
.course-wrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.item {
    width: 100%;
    top: 0;
    position: sticky;
}
.item-txt {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 45%;
    padding: 20px 80px;
}
.item:nth-child(1) .item-txt {
    background: linear-gradient(0deg, #325861 20%, #2d553c, transparent 100%);
}
.item:nth-child(2) .item-txt {
    background: linear-gradient(0deg, #262c7e 10%, #5372ac, transparent 100%);
}
.item:nth-child(3) .item-txt {
    background: linear-gradient(0deg, #330e2e 15%, #374115, transparent 100%);
}
.item:nth-child(4) .item-txt {
    background: linear-gradient(0deg, #312c0e, #965438, transparent 100%);
}
.item:nth-child(5) .item-txt {
    background: linear-gradient(0deg, #2e0b0b 20%, #4b1a5f, transparent 100%);
}
.item:nth-child(6) .item-txt {
    background: linear-gradient(0deg, #7e2222 20%, #5e1010, transparent 100%);
}
.item-txt h2 {
    color: #f13c3c;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 2rem;
}
.item-txt p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.item-txt a {
    text-decoration: none;
    position: absolute;
    top: 35px;
    right: 80px;
}
.item-txt button {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    background-color: red;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    padding: 5px 10px;
}
.item-txt button:hover {
    background-color: rgb(199, 0, 0);
    color: #fff;
}
.item-txt button:focus {
    outline: none;
}
.item-pic img {
    width: 100%;
    vertical-align: middle;
}
