header {
    position: fixed !important;
}
.footer {
    height: 120px !important;
}
.nav-circle {
    width: 100%;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    width: 100px;
    transform: translate(0%, -50%);
}
.nav-circle ul {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-circle ul li {
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background-color: #aaa;
    cursor: pointer;
    transition: 1s;
}
.nav-circle ul li.circle {
    width: 12px;
    height: 12px;
    background-color: #fa6;
}
.sec1 {
    position: relative;
}
video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* z-index: -10; */
}
.sec1-wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.sec1-txt {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sec1-txt .sec1-txt-top {
    margin-bottom: 10px;
    /* border:1px solid black; */
}
.sec1-line {
    margin: 0 auto;
    width: 720px;
    height: 3px;
    border-radius: 50%;
    background: linear-gradient(
        90deg,
        rgba(141, 141, 141, 0.3) 3%,
        rgb(255, 255, 255),
        rgba(141, 141, 141, 0.3) 97%
    );
    animation: line 2s;
    animation-fill-mode: forwards;
}
@keyframes line {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.sec1-txt .sec1-txt-top h2,
.sec1-txt .sec1-txt-bot h2 {
    text-align: center;
    font-size: 48px;
    color: #fff;
    font-style: italic;
}
.sec1-txt .sec1-txt-bot {
    margin-top: 10px;
}
.sec1-animate-top {
    animation: top 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
.sec1-animate-bot {
    animation: bot 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes top {
    0% {
        transform: translateY(20px);
        text-shadow: 0 0 1px rgba(255, 255, 255, 1);
    }
    50% {
        transform: translateY(0px);
        -webkit-filter: blur(2px);
    }
    100% {
        transform: translateY(0px);
        text-shadow: 0 0 1px rgba(255, 255, 255, 1);
        -webkit-filter: blur(0px);
        visibility: visible;
    }
}
@keyframes bot {
    0% {
        transform: translateY(-20px);
        text-shadow: 0 0 1px rgba(255, 255, 255, 1);
        -webkit-filter: blur(2px);
    }
    50% {
        transform: translateY(0px);
        -webkit-filter: blur(2px);
    }
    100% {
        transform: translateY(0px);
        text-shadow: 0 0 1px rgba(255, 255, 255, 1);
        -webkit-filter: blur(0px);
        visibility: visible;
    }
}
.sec2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            -70deg,
            rgba(53, 48, 28, 0.7) 20%,
            rgba(122, 61, 61, 0.7) 50%,
            rgba(132, 115, 206, 0.7)
        ),
        url(../img/product.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
.sec2-txt-wrap {
    width: 1200px;
    display: flex;
    align-items: center;
}
.scrollimg {
    width: 50%;
    display: flex;
}
.scrollimg .img {
    margin: auto;
    width: 300px;
    height: 300px;
    overflow: scroll;
}
.img::-webkit-scrollbar {
    display: none;
}
.scrollimg .img img {
    width: 100%;
    animation-name: scroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    /* animation-fill-mode: forwards; */
}
@keyframes scroll {
    0% {
        transform: translate3d(0, 0%, 0);
    }
    20% {
        transform: translate3d(0, 0%, 0);
    }
    45% {
        transform: translate3d(0, -25%, 0);
    }
    60% {
        transform: translate3d(0, -50%, 0);
    }
    80% {
        transform: translate3d(0, -70%, 0);
    }
    90% {
        transform: translate3d(0, 0%, 0);
    }
    100% {
        transform: translate3d(0, 0%, 0);
    }
}
.sec2-txt {
    width: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
}
.sec2-txt ul li {
    display: flex;
    align-items: center;
    padding: 10px;
}
.sec2-txt ul li h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: rgb(235, 77, 66);
    text-shadow: 4px 4px 5px rgba(0, 0, 0.5);
}
.sec2-txt ul li p {
    font-size: 20px;
}
.sec2-txt ul li i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
    animation-name: shake;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        color: rgb(182, 223, 149);
    }
    100% {
        transform: rotate(360deg);
        color: #eae;
    }
}
.sec2-txt ul li a {
    margin-top: 20px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.sec2-txt ul li a button {
    background-color: rgb(53, 53, 53);
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 2px 20px 10px 5px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}
.sec2-txt ul li a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #0c002b6c, #1779ff);
    animation: run1 2s linear infinite;
    animation-delay: 1s;
}
@keyframes run1 {
    0% {
        transform: translatex(-100%);
    }
    100% {
        transform: translatex(100%);
    }
}
.sec2-txt ul li a span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: run2 2s linear infinite;
}
@keyframes run2 {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.sec2-txt ul li a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: run3 2s linear infinite;
    animation-delay: 1s;
}
@keyframes run3 {
    0% {
        transform: translatex(100%);
    }
    100% {
        transform: translatex(-100%);
    }
}
.sec2-txt ul li a span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: run4 2s linear infinite;
}
@keyframes run4 {
    0% {
        transform: translatey(100%);
    }
    100% {
        transform: translatey(-100%);
    }
}
.sec2-txt ul li a button:hover {
    background-color: rgb(255, 44, 16);
}
.sec2-txt ul li a button:focus {
    outline: none;
}
.sec2 img {
    width: 100px;
}
.sec3 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            0deg,
            rgb(30, 54, 10),
            rgb(33, 44, 73) 20%,
            transparent 70%
        ),
        url(../img/26951849_10155508181438547_3984552379541285920_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.sec3-wrap {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec3-txt {
    height: 90%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.slider-wrap {
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 5px 0;
}
.slider {
    width: 1600px;
    display: flex;
    position: relative;
    transition: 0.5s;
}
.slider .sec3-img {
    width: 100%;
    height: 100%;
}
.slider .sec3-img img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.sec3-txt .pic-txt {
    line-height: 1.6;
}
.sec3-txt h2 {
    font-size: 2rem;
    margin-top: 60px;
    color: rgb(235, 77, 66);
    text-shadow: 4px 4px 5px rgba(0, 0, 0.5);
}
.sec3-txt p {
    font-size: 20px;
    line-height: 1.6;
}
.sec3-txt .loc {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    border: 2px solid red;
    background-color: rgba(124, 50, 50);
    padding: 4px 10px;
    font-size: 20px;
    color: #fff;
    transition: all 0.6s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.sec3-txt button:focus {
    outline: none;
}
.sec3-txt .loc::before {
    content: "";
    position: absolute;
    background-color: red;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.6s ease;
}
.sec3-txt .loc:hover::before {
    height: 380%;
}
.sec3-txt #back,
.sec3-txt #forward {
    position: absolute;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    background: transparent;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
}
.sec3-txt #back {
    left: 0px;
}
.sec3-txt #forward {
    right: 0;
}
.sec3-txt #back:focus,
.sec3-txt #forward:focus {
    outline: none;
}
.sec4 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
            70deg,
            rgb(37, 59, 109) 20%,
            rgba(155, 135, 25, 0.5) 50%,
            transparent 100%
        ),
        url(../img/532bc4ea6bb0ecc12f3f9a132e235693f899139df5e1059396431415e770c6dd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 .sec4-wrap {
    width: 1200px;
}
.sec4 .sec4-wrap .member {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.sec4-wrap .member-box {
    margin-bottom: 30px;
}
.sec4-wrap .member-box::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    /* border: 3px solid #fff; */
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: translatey(30px);
    z-index: -1;
}
.sec4-wrap .member h2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: -89px;
    width: 62px;
    border-top: 3px solid #fff;
    box-shadow: 244px 0 0 0 #fff;
}
.sec4-wrap .member-box div {
    font-size: 1rem;
    margin: 20px 0;
    display: flex;
}
.sec4-wrap .member-box i {
    margin-right: 10px;
}
.sec4 .sec4-wrap h2 {
    font-size: 2rem;
    color: rgb(235, 77, 66);
    text-shadow: 4px 4px 5px rgba(0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
    z-index: 2;
    position: relative;
}
.sec4-wrap button {
    border: none;
    background-color: red;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 1s 0.1s;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.sec4-wrap button:focus {
    outline: none;
}
.sec4-wrap button:hover {
    background-color: #aaa;
    transform: rotatex(360deg);
}
