body {
    font-family: 微軟正黑體;
    background: rgb(28, 28, 28);
}
.list li:nth-child(4) a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 20, 20);
    transition: all 0.5s 0.3s;
}
.banner {
    width: 100%;
    height: 600px;
    background: url(../img/worldgym-fitness-Kaohsiung-big.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-txt {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
}
.banner-txt h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 100px;
}
.location {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.location-wrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item {
    width: 960px;
    display: flex;
    margin-bottom: 30px;
}

.item-pic {
    width: 60%;
}
.item-pic img {
    width: 100%;
    vertical-align: middle;
}
.item-txt-wrap {
    width: 40%;
    display: flex;
    align-items: center;
}
.item-txt-wrap:nth-child(odd),
.item-txt-wrap:nth-child(odd) {
    transform: translateX(50%);
}
.item-txt-wrap:nth-child(even),
.item-txt-wrap:nth-child(even) {
    transform: translateX(-50%);
}
.item-txt {
    width: 100%;
    text-align: center;
    padding: 10px 40px;
}
.item:nth-of-type(1) .item-txt {
    background: linear-gradient(40deg, #190a42, #ad1c29);
    box-shadow: -10px 10px 3px 0px #190a427a;
}
.item:nth-of-type(2) .item-txt {
    background: linear-gradient(40deg, #175058, #603097);
    box-shadow: 10px 10px 3px 0px #6030977a;
}
.item:nth-of-type(3) .item-txt {
    background: linear-gradient(340deg, #197a62, #022e16);
    box-shadow: -10px 10px 3px 0px #197a627a;
}
.item:nth-of-type(4) .item-txt {
    background: linear-gradient(to top, #256aa3, #043e6d);
    box-shadow: 10px 10px 3px 0px #043e6d7a;
}
.item-txt h2 {
    margin-top: 10px;
    font-size: 2rem;
    color: #fff;
}
.item-txt p {
    margin: 10px 0;
    font-size: 1rem;
    line-height: 1.3;
    color: #fff;
}
.item-txt button {
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    background-color: red;
    font-weight: bold;
    transition: all 0.3s;
}
.item-txt button:focus {
    outline: none;
}
.item-txt button:hover {
    color: #fff;
    background-color: rgb(199, 0, 0);
}
