body {
    font-family: 微軟正黑體;
    background: rgb(28, 28, 28);
}
.list li:nth-child(1) a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 20, 20);
    transition: all 0.5s 0.3s;
}
.banner {
    width: 100%;
    position: relative;
}
.banner-txt {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
}
.banner-txt h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 100px;
}

.flexslider {
    width: 100%;
    height: 600px;
    border: none !important;
}
.slides {
    width: 100%;
    height: 600px;
}
.slides li {
    width: 100%;
    height: 600px;
}
.bannerpic {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1 {
    background-image: url(../img/90cf4268-a504-43fe-b9a9-dbaf489abf49.jpg);
}
.img2 {
    background-image: url(../img/ws-s1-categoryBanner1-bannerImg-5f460303403cf.jpg);
}
.img3 {
    background-image: url(../img/2000x.png);
}
.product-tab {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-tab-wrap {
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-tab-wrap li {
    padding: 20px 40px;
    background-color: rgb(136, 136, 136);
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.product-tab-wrap li:hover {
    background-color: rgb(74, 33, 128);
    color: rgb(121, 255, 88);
}
li.focus {
    background-color: rgb(74, 33, 128) !important;
    color: rgb(121, 255, 88);
}
.product {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    display: none;
}
.active {
    display: block;
}
.tab-content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.product-wrap {
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.product-item {
    width: 100%;
    border: 1px solid black;
    display: flex;
    margin: 10px;
    background-color: rgb(252, 250, 242);
}
.item-left {
    width: 50%;
}
.item-pic {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.item-pic img {
    width: 100%;
}
.item-right {
    width: 50%;
    display: flex;
    justify-content: center;
}
.hot {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    font-size: 20px;
    color: rgb(245, 222, 17);
    background-color: rgb(43, 40, 40);
}
.item-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-txt h2 {
    font-size: 2rem;
    color: #000;
}
.item-txt .select {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.item-txt .select select {
    margin-left: 15px;
}
.item-txt .price {
    font-size: 20px;
    margin-bottom: 15px;
    color: rgb(196, 39, 39);
}
.item-txt .price span {
    text-decoration: line-through;
}
.item-txt .detail {
    margin-bottom: 15px;
}
.item-txt .detail button {
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background-color: rgb(126, 122, 122);
    color: #eee;
}
.item-txt .detail a button:focus {
    outline: none;
}
.item-txt .buy {
    display: flex;
    align-items: center;
}
.item-txt .buy button {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    color: rgb(255, 68, 68);
    background-color: #eee;
    border-style: ridge;
    transition: all 0.5s;
}
.item-txt .buy button:focus {
    outline: none;
}
.item-txt .buy button:hover {
    color: #eee;
    background-color: rgb(255, 68, 68);
}

.item-txt .buy i {
    cursor: pointer;
    margin-left: 20px;
    font-size: 1.6rem;
    color: rgb(252, 252, 252);
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
.item-txt .buy i:hover {
    color: #000;
    background-color: rgb(252, 252, 252);
}
.more {
    width: 100px;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: red;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.more a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px;
}
