body {
    background-color: rgb(28, 28, 28);
}
.list li:nth-child(3) a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 20, 20);
    transition: all 0.5s 0.3s;
}
.banner {
    width: 100%;
    height: 600px;
    background: url(../img/member.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-txt {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    background-color: rgb(0, 0, 0, 0.7);
}
.banner-txt h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 100px;
}
section {
    width: 100%;
    background-image: linear-gradient(-99deg, rgb(28, 28, 28), rgb(252, 250, 242) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
.sign {
    width: 960px;
    display: flex;
}
.sign-left {
    width: 500px;
    z-index: 1;
}
.sign-left img {
    width: 100%;
    vertical-align: middle;
    box-shadow: 3px 3px 2px 2px rgb(28, 28, 28);
}
.sign-right {
    width: 460px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 250, 242);
}
.sign-right h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(235, 77, 66);
    text-shadow: 2px 2px 2px rgba(0, 0, 0.5);
    font-weight: bold;
}
.sign-right p {
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 15px;
}
.sign-body {
    width: 300px;
    margin: 15px;
}
.sign-body label {
    display: inline-block;
    width: 120px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    padding: 5px;
}
.sign-body input {
    width: 300px;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.sign-body select {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.sign-body select:focus,
.sign-body input:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgb(199, 75, 67);
}
.sign-body p {
    line-height: 1.6;
}
.sign-body button {
    width: 100%;
    font-size: 1.2rem;
    margin: 15px 0;
    padding: 5px 20px;
    border: none;
    color: #eee;
    background-color: red;
    cursor: pointer;
    transition: all 0.3s;
}
.sign-body button:hover {
    background-color: rgb(199, 0, 0);
}
.sign-body button:focus {
    outline: none;
}
